/* ProfilePage.css */
body {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .profile {
    text-align: center;
    margin: 20px;
  }
  
  .profile h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-info {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .profile-info p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .change-username,
  .change-email,
  .change-password {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .change-username h2,
  .change-email h2,
  .change-password h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .change-username form,
  .change-email form,
  .change-password form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .change-username input,
  .change-email input,
  .change-password input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .change-username button,
  .change-email button,
  .change-password button {
    background-color: #007bff; /* Color azul claro */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .change-username button:hover,
  .change-email button:hover,
  .change-password button:hover {
    background-color: #0056b3; /* Color azul oscuro al pasar el mouse */
  }
  
  /* Animación de entrada para los formularios */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .change-username form,
  .change-email form,
  .change-password form {
    animation: fadeIn 0.5s ease;
  }
  